* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  position: relative;
}

.wrapper {
  width: 100%;
  position: relative;
  width: 100%;
}

.col {
  padding: 20px;
  width: 100%;
  height: fit-content;
}

.col .mortage-head{
    padding: 10px 0;
    font-size: 30px;
    color: hsl(202, 55%, 16%);
}

.col .mortage-head button{
    border: none;
    background-color: transparent;
    color: hsl(200, 26%, 54%);
    cursor: pointer;
    font-size: 15px;
    text-transform: capitalize;
    outline: none;
    text-decoration: underline;

}


form{
    width: 100%;

    position: relative;
    display: block;
}

label{
     font-size: 16px;
     color:hsl(200, 26%, 54%); 
}

.mortage-amount{
    width: 100%;
    position: relative;
    margin: 2px 0  16px; 
    padding-bottom: 6px; 
  
}

 .input-wrapper{
    position: relative;
    padding: 1px;
    width: 100%;
    border: 1px solid hsl(200, 24%, 40%);    
    border-radius: 6px;
    margin: 6px 0 2px;
    display: flex;
}

.error-msg{
    border: 1px solid red;
}

.mortage-amount .input-wrapper span{
    width: 10%;
    height: inherit;
    background-color: hsl(202, 86%, 94%);
    color: hsl(202, 55%, 16%);
    text-align: center;
    padding-top: 8px;
}

.mortage-amount .input-wrapper input{
    width: 80%;
}


.terms-wrapper{
    width: 100%;
    position: relative;
    display: block;
    
}
.terms-wrapper .mortage-term{
    width: 100%;
    position: relative;
    margin: 2px 0  16px; 
    padding-bottom: 6px; 
  

}
.mortage-term .input-wrapper span{
    background-color: hsl(202, 86%, 94%);
    color: hsl(202, 55%, 16%);
    width: 20%;
    text-align:center;
    font-weight: 600;
    padding-top: 6px;
}

.mortage-term .input-wrapper  input{
    width: 80%;
}


.mortage-rate .input-wrapper span{
    background-color: hsl(202, 86%, 94%);
    color: hsl(202, 55%, 16%);
    width: 20%;
    text-align:center;
    font-weight: 600;
    padding-top: 6px;
}
.error{
    font-size: 12px;
    color: red;
}
.mortage-rate .input-wrapper  input{
    width: 80%;
}
input{
    border:none;
    outline: none;
    padding: 8px;
    height: 40px;
}

.mortage-type{
    width: 100%;
    padding:12px 0;
    display: block;
}
.mortage-type p{
  font-size: 22px;
}


.repay-type{
    margin: 12px 0 ;
    gap:12px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid hsl(200, 24%, 40%);    
    border-radius: 6px;
    
}

/* .custom-radio {
    display:none;
}
.custom-label {
    display: inline-block;
    padding: 5px 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    position: relative;
    cursor: pointer;
}

.custom-label::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background 0.3s;
}

.custom-radio:checked + .custom-label {
    border-color: rgb(243, 119, 119);
    outline: none ;
}

.custom-radio:checked + .custom-label::after {
    background: rgb(240, 175, 175);
} */

.repay-type:hover{
    border:1px solid rgb(197, 197, 97);
}

.repay-type:has(input:checked){
    border:1px solid rgb(197, 197, 97);
    background-color: rgb(241, 227, 187) ;
}

.repay-type input {
    width: 20px;
    background-color: red;
}

.repay-type input:has(input:checked) {
    width: 20px;
    
}

.repay-type label{
    font-size: 18px;
}
form .calculate{
    width: 100%;
    border-radius: 20px;
    background-color: hsl(61, 70%, 52%);
    padding: 12px;
    outline: none;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 6px;
    border: none;
    font-size: 22px;
    position: relative;
    font-weight: 600;
    margin: 16px 0 0;
    align-self: center;
}
/* Mortage result display */
.mortage-result{
    background-color: hsl(200, 32%, 26%);
    width: 100%;
    min-height: 300px;

}
.mortage-result .result-wrapper{
     padding: 0 0 10px;
    width: 100%;
    display: none;
}


.mortage-result .result-wrapper h3{
    color: hsl(0, 10%, 100%);
    font-size: 26px;
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 10px 0;

}


.hide-empty{
    display: none;
}

.mortage-result .result-wrapper p{
    color:  hsl(202, 86%, 94%);
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 18px;
    text-align: justify;
}

.repayment-stats-wrapper{
    width: 100%;
    border-top: 4px solid hsl(61, 70%, 52%) ;
    border-radius: 6px;
    background-color: hsl(202, 55%, 16%);
    height: 250px;
    padding: 10px;
}

.repayment-stats-wrapper .month-repayment{
    width: 100%;
    height: 100px;
    align-self: center;


}
.repayment-stats-wrapper .month-repayment p{
    font-size: 20px;
    color: hsl(0, 10%,100%);
    font-weight: 600;
    margin: 12px 0;

}

.repayment-stats-wrapper .month-repayment h2{
    font-size: 26px;
    color: hsl(61, 70%, 52%);
    font-weight: 600;
    margin-top:20px;
    
}

.repayment-stats-wrapper .total-repayment{
    padding: 0 0 6px;
    height: 120px;
    width: 100%;
}

.repayment-stats-wrapper .total-repayment p {
    padding: 16px 0 ;
    color: hsl(202, 86%, 94%);
}


.repayment-stats-wrapper .total-repayment h2{
    color: hsl(0, 10%, 100%);
    margin-top: 10px;
}

.empty-wrapper{
    padding: 20px;
    /* margin: 0 auto; */
    width: 100%;
    color: hsl(0, 5%, 83%);
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.empty-wrapper h3{
    margin-bottom: 10px;
    color: white;
    font-size: 24px;

}


.empty-wrapper p {
    font-size: 18px;
    line-height: 1.5;
    padding: 12px;
}
.empty-wrapper img{
    width: 60%;
    margin: 0 auto;
    justify-self: center;
}


@media (min-width:768px) {
    .wrapper{
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 90%;
        margin: 0 auto;
    }

    form .calculate{
        width: 60%;
        font-size: 18px;
    }

    .mortage-result{
        height: 100vh;
    }

    .terms-wrapper{
        display: flex;
        gap: 10px;
    }
    .terms-wrapper .mortage-term{
        width: 50%;
    }
    .mortage-rate{
        width: 50%;
    }
}

@keyframes customAnimation {
    0% {

        transform: scale(0.5) rotate(0deg);
        opacity: 0;
    }
    50% {
        transform: scale(0.7) rotate(180deg);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}

.animate {
    animation: customAnimation 2s ease-in-out forwards;
}
